<div>
  <!--Grid row-->
  <div class="grid row">
    <!--Grid column-->
    <div class="col">
      <!-- Square -->
      <div class="square">
            En 1972
      </div>
      <!-- Square -->
    </div>
    <!--Grid column-->
    <div class="col">
      <!-- Square -->
      <div class="square">
            cuatro
      </div>
      <!-- Square -->
    </div>
    <!--Grid column-->
    <div class="col">
      <!-- Square -->
      <div class="square">
        programadores
      </div>
      <!-- Square -->
    </div>
    <!--Grid column-->
    <div class="col">
      <!-- Square -->
      <div class="square">
        del ejército
      </div>
      <!-- Square -->
    </div>
    <!--Grid column-->
    <div class="col">
      <!-- Square -->
      <div class="square">
        fueron
      </div>
      <!-- Square -->
    </div>
    <!--Grid column-->
    <div class="col">
      <!-- Square -->
      <div class="square">
        encarcelados
      </div>
      <!-- Square -->
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->

  <!--Grid row-->
  <div class="grid row">
    <!--Grid column-->
    <div class="col">
      <!-- Square -->
      <div class="square">
        por un
      </div>
      <!-- Square -->
    </div>
    <!--Grid column-->
    <div class="col">
      <!-- Square -->
      <div class="square" >
        delito
      </div>
      <!-- Square -->
    </div>
    <!--Grid column-->
    <div class="col">
      <!-- Square -->
      <div class="square">
        que no
      </div>
      <!-- Square -->
    </div>
    <!--Grid column-->
    <div class="col">
      <!-- Square -->
      <div class="square">
        habían
      </div>
      <!-- Square -->
    </div>
    <!--Grid column-->
    <div class="col">
      <!-- Square -->
      <div class="square" >
        cometido ...
      </div>
      <!-- Square -->
    </div>
    <!--Grid column-->
    <div class="col">
      <!-- Square -->
      <div class="square">
        Búscados
      </div>
      <!-- Square -->
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->

  <!--Grid row-->
  <div class="grid row">
    <!--Grid column-->
    <div class="col">
      <!-- Square -->
      <div class="square">
        por el
      </div>
      <!-- Square -->
    </div>
    <!--Grid column-->
    <div class="col">
      <!-- Square -->
      <div class="square">
        gobierno
      </div>
      <!-- Square -->
    </div>
    <!--Grid column-->
    <div class="col">
      <!-- Square -->
      <div class="square" >
        sobreviven
      </div>
      <!-- Square -->
    </div>
    <!--Grid column-->
    <div class="col">
      <!-- Square -->
      <div class="square" >
        como
      </div>
      <!-- Square -->
    </div>
    <!--Grid column-->
    <div class="col">
      <!-- Square -->
      <div class="square">
        hacker´s
      </div>
      <!-- Square -->
    </div>
    <!--Grid column-->
    <div class="col">
      <!-- Square -->
      <div class="square">
        independientes
      </div>
      <!-- Square -->
    </div>
    <!--Grid column-->
  </div>

</div>
