<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="text-center font-bold text-900 text-5xl mb-3">Servicios</div>
  <div class="text-center text-xl line-height-3 text-600 mb-6">Ofrecidos con la mayor discreción.</div>
  <div class="grid">
    <div class="col-12 md:col-4 text-center mb-5">
      <img src="../../../../assets/img/autopsia.JPG" class="mb-3">
      <div class="text-blue-600 text-xl mb-3">Autopsia informática</div>
      <div class="inline-flex align-items-center">
        1.500€
      </div>
    </div>
    <div class="col-12 md:col-4 text-center mb-5">
      <img src="../../../../assets/img/antecedentes.JPG" class="mb-3">
      <div class="text-blue-600 text-xl mb-3">Borrado antecedentes</div>
      <div class="inline-flex align-items-center">
       5.450€
      </div>
    </div>
    <div class="col-12 md:col-4 text-center mb-5">
              <img src="../../../../assets/img/grupis.JPG" width="350"class="mb-3">
              <div class="text-blue-600 text-xl mb-3">Blanqueo de imegen</div>
              <div class="inline-flex align-items-center">
               500€ / mes y grupi ficticio.
              </div>
    </div>
  </div>
</div>
